<div class="row">
    <div class="col-md-12">
        <div ng-if="vm.error" uib-alert class="alert-warning" close="vm.error = false">
            {{vm.errorText}}
        </div>
        <form name="changeInfo" class="form col-md-10 col-md-offset-1" novalidate>
            <div class="form-add-post">
                <div class="col-md-4">
                    <div class="img-thumbnail">
                        <div class="col-md-12 height-250px">
                            <img ng-src="{{vm.userInfo.Images[0].url ? vm.userInfo.Images[0].url : '/content/staticImages/add-img.jpg'}}" class="img-responsive img-rounded">
                        </div>
                        <div class="col-md-12 text-center">
                            <div joy-transform-file ng-model="vm.userInfo.Images">
                                <input name="file" id="hiddenFile" class="width-height-less-one" type="file" value="Добавить картинку"/>
                                <label for="hiddenFile" class="add-picture">Добавить картинку</label>
                            </div>
                            <!-- <button ng-click="vm.actions.test()">press test</button>-->
                        </div>
                    </div>
                </div>

                <div class="form-add-post">
                    <div class="col-md-3">
                        <label class="add-post pull-right">Введите старый пароль</label>
                    </div>
                    <div class="col-md-5">
                        <input ng-model="vm.oldPass" type="text" class="add-post form-control">
                    </div>
                </div>

                <div class="form-add-post">
                    <div class="col-md-3">
                        <label class="add-post pull-right">Введите новый пароль</label>
                    </div>
                    <div class="col-md-5">
                        <input ng-model="vm.newPass" ng-required="vm.oldPass" type="text" class="add-post form-control">
                    </div>
                </div>

                <div class="form-add-post">
                    <div class="col-md-3">
                        <label class="add-post pull-right">Повторите новый пароль</label>
                    </div>
                    <div class="col-md-5">
                        <input ng-model="vm.newPassCheck" ng-required="vm.oldPass" type="text" class="add-post form-control">
                    </div>
                </div>

                <div class="form-add-post">
                    <div class="col-md-3">
                        <label class="add-post pull-right">Введите новый Email</label>
                    </div>
                    <div class="col-md-5">
                        <input type="email" ng-required="vm.newEmail" ng-model="vm.newEmail" class="add-post form-control">
                    </div>
                </div>
                <button class="btn btn-success pull-right btn-add" ng-click="vm.actions.save(changeInfo)">Сохранить</button>
            </div>
        </form>
    </div>
</div>


