<div class="row">
    <div class="col-md-12">
        <form class="form col-md-10 col-md-offset-1">
            <div class="form-add-post">

                <div class="col-md-4">
                    <div class="img-thumbnail">
                        <img ng-src="{{vm.userDetails.ProfilePhoto}}" class="img-responsive img-rounded">
                        <div class="col-md-12 text-center">
                            <div>
                                <input name="file" ng-model="vm.selectedImage" id="file" class="width-height-less-one" type="file" value="Добавить картинку" />
                                <label for="file">Добавить картинку</label>
                            </div>
                            <button ng-click="vm.actions.test()">press test</button>
                            <!--<a class="add-pictures" href="#">Добавить картинку</a>-->
                        </div>
                    </div>
                </div>

                <div class="form-add-post">
                    <div class="col-md-2">
                        <label class="add-post pull-right">Заголовок</label>
                    </div>

                    <div class="col-md-6">
                        <input type="text" class="add-post form-control">
                    </div>
                </div>

                <div class="form-add-post">
                    <div class="col-md-2">
                        <label class="add-post pull-right">Сообщение</label>
                    </div>
                    <div class="col-md-6">
                        <textarea class="add-post form-control width-100"></textarea>
                    </div>
                </div>

                <div class="form-add-post">
                    <div class="col-md-2">
                        <label class="add-post pull-right">Выберите теги</label>
                    </div>
                    <div class="col-md-6">
                        <ui-select multiple ng-model="vm.selectedTags" close-on-select="false" title="Выберите тег">
                            <ui-select-match placeholder="Выберите тег...">{{$item}}</ui-select-match>
                            <ui-select-choices repeat="tag in vm.availableTags | filter:$select.search">
                              <!--  <div ng-bind-html="tag | highlight: $select.search"></div>-->
                                {{tag}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <button class="btn btn-success">Добавить пост</button>
            </div>
        </form>
    </div>
</div>

