<div class="row">
    <div class="col-md-12">
        <form class="form col-md-10 col-md-offset-1">
            <div class="form-add-post">

                <div class="col-md-4">
                    <div class="img-thumbnail">
                        <img ng-src="{{vm.postData.SelectedImage[0].url ? vm.postData.SelectedImage[0].url : null}}" class="img-responsive img-rounded">
                        <div class="col-md-12 text-center">
                            <div joy-transform-file ng-model="vm.postData.SelectedImage" >
                                <input name="file" id="hiddenFile" class="width-height-less-one" type="file" value="Добавить картинку" />
                                <label for="hiddenFile">Добавить картинку</label>
                            </div>
                          
                            <!--  <button ng-click="vm.actions.test()">press test</button>-->
                        </div>
                    </div>
                </div>

                <div class="form-add-post">
                    <div class="col-md-2">
                        <label class="add-post pull-right">Заголовок</label>
                    </div>

                    <div class="col-md-6">
                        <input ng-model="vm.postData.Header" type="text" class="add-post form-control">
                    </div>
                </div>

                <div class="form-add-post">
                    <div class="col-md-2">
                        <label class="add-post pull-right">Сообщение</label>
                    </div>
                    <div class="col-md-6">
                        <textarea ng-model="vm.postData.Message" class="add-post form-control width-100"></textarea>
                    </div>
                </div>

                <div class="form-add-post">
                    <div class="col-md-2">
                        <label class="add-post pull-right">Выберите теги</label>
                    </div>
                    <div class="col-md-6">
                        <ui-select multiple ng-required="true" ng-model="vm.postData.SelectedTags" close-on-select="false" title="Выберите тег">
                            <ui-select-match placeholder="Выберите тег...">{{$item}}</ui-select-match>
                            <ui-select-choices repeat="tag in vm.availableTags | filter:$select.search">
                              <!--  <div ng-bind-html="tag | highlight: $select.search"></div>-->
                                {{tag.Name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <button ng-click="vm.actions.sendPost()" class="btn btn-success pull-right btn-add">Добавить пост</button>
                <div class="form-add-post">
                    <p class="text-center succes-notification"> Пост отправлен на проверку! В случае успешной проверки пост будет добавлен!</p>
                    </div>
                </div>
        </form>
    </div>
</div>

