<div class="col-md-12">
    <div class="col-md-6 col-md-offset-1">
        <div>
            <div class="text-center">
                <strong>{{vm.post.Header}}</strong>
            </div>
            <div class="text-justify">
                <p>
                    {{vm.post.Message}}
                </p>
            </div>
            <div>
                <span class="post-tags" ng-click="vm.actions.changeTagStatus(tag)" ng-class="{'valid-tag': tag.Status === vm.tagStatus.Approved, 'invalid-tag': tag.Status === vm.tagStatus.Rejected, 'pending-tag': tag.Status === vm.tagStatus.NeedVerify}" ng-repeat="tag in vm.post.Tags">{{tag.Name}}</span>
            </div>
            <div>
                <div ng-class="vm.isImageApproved ? 'valid-image' : 'invalid-image'">
                    <div ng-click="vm.actions.changeImageApprovement()" class="img-post" ng-if="vm.post.ImagePath">
                        <img class="img-responsive" ng-src="{{vm.post.ImagePath}}" />
                    </div>
                </div>
            </div>
            <div>
                <span><strong>Создатель: </strong>{{::vm.post.User.Name}}</span>
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-success width-100" ng-click="vm.actions.approve()">Подтвердить</button>
            </span>
            <span class="input-group-btn">
                <button class="btn btn-danger width-100" ng-click="vm.actions.reject()">Отменить</button>
            </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="margin-top-5">
            <div class="input-group">
                <label class="input-group-addon">Быстрый поиск</label>
                <input class="form-control" ng-model="vm.searchText" placeholder="Поиск" />
            </div>
            <button class="btn btn-primary" ng-click="vm.actions.search()">Поиск</button>

            <posts list="vm.findedPosts">

            </posts>
        </div>
    </div>
</div>