<div ng-controller="NavbarController as vm">
    <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ui-sref="main">
                    <img alt="JoyEngine" class="pad-15-px" src="/content/staticImages/logo.png" >
                </a>
            </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">

                        <a class="dropdown-toggle dropdown-active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Все теги
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="tag in vm.tags">
                                <a ui-sref="main({TagId: tag.Id})">{{tag.Name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div ng-if="vm.actions.isUserExists()" class="dropdown navbar-right dropdown-authorize">
                    <button class="btn btn-default dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <img src="../../content/staticImages/avt.jpg" class="img-rounded img-30px" />
                        <span> {{vm.actions.getUserEmail()}} </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a ui-sref="user-profile">Личный кабинет</a></li>
                        <li><a ui-sref="user-settings">Настройки</a></li>
                        <li><a ng-click="vm.actions.logOut()">Выйти</a></li>
                    </ul>
                </div>
                <div ng-if="!vm.actions.isUserExists()" class="navbar-right">
                    <div class="btn-authoriz">
                        <a ui-sref="auth" class="btn btn-link style-btn" data-toggle="modal" data-target="#logModal">Вход</a>
                        <a ui-sref="register" class="btn btn-link style-btn" data-toggle="modal" data-target="#SingUpModal">Регистрация </a>
                    </div>
                </div>
                <form class="navbar-form navbar-right">
                    <div class="search-group">
                        <a ui-sref="main({SearchText: vm.search.SaerchText})">
                            <i class="glyphicon glyphicon-search"></i>
                        </a>

                        <input ng-model="vm.search.SaerchText" ng-click="" placeholder="Поиск" type="text" class="form-control">
                    </div>

                </form>
            </div><!-- /.navbar-collapse -->
        </div>
         
    </nav>
</div>