<div ng-controller="NavbarController as vm">
    <nav class="navbar navbar-default my-header-menu">
        <div class="container-fluid">

            <!--
            <div class="row">
            <div class="col-md-12 navbar-header">
                <button class="navbar-toggle collapsed menu_btn" data-toggle="collapse" data-target="#top_menu">
                menu
            </button>-->

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="main">
                    <img class="logo img-responsive" src="../../content/staticImages/logo.png" alt="joyEgine">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="main-nav">
                    <ul class="nav navbar-nav my-bar-list">
                        <li><a href="#">Горячее </a></li>
                        <li><a href="#">Свежее</a></li>
                        <li><a href="#">Лучшее</a></li>

                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle dropdown-active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Все теги
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="tag in vm.tags">
                                    <a ui-sref="main">{{tag}}</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="form-group nav navbar-nav navbar-right form-search">
                    <form>
                        <div class="form-horizontal">
                            <fieldset>
                                <div class="search-group">
                                    <i class="glyphicon glyphicon-search"></i>
                                    <input type="text" class="search-field">
                                </div>
                            </fieldset>
                        </div>

                        <div ng-if="vm.actions.isUserExists()" class="dropdown pull-right dropdown-authorize">
                            <button class="btn btn-default dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <img src="../../content/staticImages/avt.jpg" class="img-rounded img-30px"/>
                                <span> Логин </span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a ui-sref="user-profile">Логин</a></li>
                                <div class="drop_line"></div>
                                <li><a ui-sref="user-settings">Настройки</a></li>
                                <div class="drop_line"></div>
                                <li><a ng-click="">Выйти</a></li>
                            </ul>
                        </div>
                        <div ng-if="!vm.actions.isUserExists()">
                            <div class="btn-authoriz">
                                <button class="btn  logModal style-btn" data-toggle="modal" data-target="#logModal"> Вход</button>
                                <button class="btn  SingUpModal style-btn" data-toggle="modal" data-target="#SingUpModal">Регистрация </button>
                            </div>
                        </div>
                    </form>

                    

                    <!--<div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="tag in vm.tags">
                                <a>{{tag}}</a>
                            </li>
                        </ul>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="top_line"></div>

    </nav>
</div>