.form-add-post {
    margin-top: 25px;
}

.btn-add {
    margin: 25px 17px;
    background-color: #548eaa;
    border-color: #548eaa;
    border-radius: 4px;
    color: #ffffff;
}

    .btn-add:hover,
    .btn-add:focus {
        margin: 25px 17px;
        background-color: #31708f;
        border-color: #31708f;
        border-radius: 4px;
        color: #ffffff;
        text-decoration: none;
    }

.succes-notification {
    color: #5eb9ad;
}

.img-default {
    height: 250px;
    width: 250px;
    display: block;
    background-image: url('../staticImages/add-img.jpg');
    background-color: azure #808080;
}

.height-250px {
    height: 250px;
}

.add-picture {
    color: #31708f;
}

    .add-picture:hover {
        color: #548eaa;
    }

.error {
    margin-top: 15px;
    color: #ff0000;
}
