.form-add-post{
    margin-top: 25px;
}

.btn-add{
    margin:25px 17px;
    background-color: #5eb9ad;
    border-color: #5eb9ad;
}
.btn-add:hover{
    margin:25px 17px;
    background-color: #5eb9ad;
    border-color: #5eb9ad;
    /*#31708f;*/
}
.succes-notification{
    color: #5eb9ad;
}
