.display-block {
    display: block;
}
ul {
    list-style-type: none;
}

.flex-jystify-content {
    display:flex;
    justify-content:space-between;
}

.width-100 {
    width: 100%;
}

.width-height-100 {
    width:100%;
    height:100%;
}

.width-height-less-one {
    width: 0.1px;
    height: 0.1px;
    overflow:hidden;
}

label{
    font-weight: 100 !important;
}

body {
}

.pad-15-px {
    padding: 15px;
}



.no-left-right-pad {
    padding-left: 0px;
    padding-right: 0;
}

.margin-right-10 {
    margin-right:10px
}

.requred:after {
    content: ' *';
    color:red;
}

form .ng-touched.ng-invalid-required {
    border:1px solid red;
}

form .ng-touched.ng-valid-required {
    border:1px solid #1ccd00;
}

.margin-top-5 {
    margin-top: 5px;
}
