.display-block {
    display: block;
}
ul {
    list-style-type: none;
}

.flex-jystify-content {
    display:flex;
    justify-content:space-between;
}

.width-100 {
    width: 100%;
}

.width-height-100 {
    width:100%;
    height:100%;
}

.width-height-less-one {
    width: 0.1px;
    height: 0.1px;
    overflow:hidden;
}

label{
    font-weight: 100 !important;
}

body {
}