/*footer*/
.copy-txt {
    color: #777777;
    margin: 30px 0px 15px;
}
/*
.b{
    background-color:#548eaa;
    height:15px;
}
.a{
    background-color: #65a3be;
     height:15px;
}
.c{
        background-color:#4d7284;
         height:15px;
}
.d{
        background-color:#8fb3cd;
         height:15px;
}*/