/*Posts*/
.title-post {
    color: #4d7284;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

.name-creator {
    color: #548eaa;
    font-size: 14px;
}

    .name-creator:hover {
        color: #4d7284;
        font-size: 14px;
        text-decoration: none;
    }

.date-add-post {
    font-size: 11px;
}

.post-tags {
    color: #777777;
    padding: 0 3px 1px;
    margin: 0px 8px 2px 0px;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid;
    border-color: #e0e0e0 #4d7284 #4d7284 #cecece;
    background: linear-gradient(to top,#deeae7 100%,#f3f3f3 100%);
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}

    .post-tags:hover {
        color: #4d7284;
        font-size: 11x;
        text-decoration: none;
        font-weight: bold;
        background: linear-gradient(to top, #f1f1f1 100%,#f3f3f3 100%);
    }

.img-post {
    margin: 20px 0px 20px;
}

.size {
    display: block;
}

.like, .dislike {
    text-decoration: none;
    color: #c4c6c7;
    font-size: 20px;
}

    .like:hover,
    .like:focus,
    .dislike:hover,
    .dislike:focus {
        text-decoration: none;
        color: #548eaa;
    }

.rating {
    padding-top: 30px;
}

.valid-image {
    border: 2px solid #04ff00;
}

.invalid-image {
    border: 2px solid #ff0000;
}

.post-tags.valid-tag {
    background: #04ff00 !important;
}

.post-tags.invalid-tag {
    background: #ff0000 !important;
}

.post-tags.pending-tag {
    background: #ffed00 !important;
}