/*Posts*/
.title-post {
    color: #255953;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

.name-creator {
    color: #45a69a;
    font-size: 14px;
}

    .name-creator:hover {
        color: #255953;
        font-size: 14px;
        text-decoration: none;
        
    }

.date-add-post {
    font-size: 11px;
}

.post-tags {
    color: #777777;
    padding: 0 3px 1px;
    margin: 0px 8px 2px 0px;
    font-size: 11px;
    border: 1px solid;
    border-color: #e0e0e0 #5e9c93 #5e9c93 #cecece;
    background: linear-gradient(to top,#deeae7 100%,#f3f3f3 100%);
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}

    .post-tags:hover {
        color: #255953;
        font-size: 11x;
        text-decoration: none;
        font-weight: bold;
    }
