.form-settings{
    margin-top: 15px;
    padding-top: 15px;
}

h5{
    color: #999;
    font-size: 14px;
   
}
/*
.btn-add{
    margin:25px 17px;
    background-color: #5eb9ad;
    border-color: #5eb9ad;
}
.btn-add:hover{
    margin:25px 17px;
    background-color: #5eb9ad;
    border-color: #5eb9ad;
}
.succes-notification{
    color: #5eb9ad;
}
    */